<ion-view view-title="Toutokazz">
  <ion-content>
   <div class="list list-inset">
     <div class="item item-button-right">
    Selectioner Categorie
    <button class="button button-positive">
      <i class="icon ion-android-add"></i>
    </button>
  </div>
     <label class="item item-input">
       <input type="text"  placeholder="Titre de votre annonce"/>
     </label>
     <label class="item item-input">
         <textarea rows="8" placeholder="La description de votre annnonce"></textarea>
     </label>
     <label class="item item-input item-stacked-label">
       <span class="input-label">Prix</span>
       <input type="number" placeholder="Prix"/>
     </label>
     <label class="item item-input item-select">
      <div class="input-label"> Devise
    </div>
    <select>
      <option>$</option>
      <option selected>HTG</option>
    </select>
     </label>
     <div class="item">
       <button class="button button-block"> Submit</button>
     </div>
   </div>
  </ion-content>
</ion-view>